<div id="main" class="setup">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="title" style="padding-left:0px;text-align:center;font-effect:bold;">
				<span id="SetupTitle">Select Players / Teams</span>
			</div>
		</div>
	</div>

	<div id="players" style="display:block;">
		<div class="palm-group">
			<div class="palm-group-title">Selected players</div>

			<div class="palm-list">
				<div id="SelectedPlayers" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title" id="ActiveAllThePlayers">Active players</div>

			<div class="palm-list" id="ActivePlayersList">
				<div id="ActivePlayers" x-mojo-element="List"></div>
			</div>

			<div class="palm-list" id="AllThePlayersList" style="display:none;">
				<div id="AllThePlayers" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Add new players</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="AddNewPlayer" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="teams" style="display:none;">
		<div class="palm-group">
			<div class="palm-group-title">Selected teams</div>

			<div class="palm-list">
				<div id="SelectedTeams" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title" id="ActiveAllTheTeams">Active teams</div>

			<div class="palm-list" id="ActiveTeamsList">
				<div id="ActiveTeams" x-mojo-element="List"></div>
			</div>

			<div class="palm-list" id="AllTheTeamsList" style="display:none;">
				<div id="AllTheTeams" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Add new teams</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="AddNewTeam" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		

	<div id="places" style="display:none;">
		<div class="palm-group">
			<div class="palm-group-title">Selected Place</div>

			<div class="palm-list">
				<div id="SelectedPlace" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">All The Places</div>

			<div class="palm-list">
				<div id="AllThePlaces" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Add New Places</div>

			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="AddNewPlace" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

