<div id="dash-actions" class="dashboard-notification-module">
	<div class="palm-dashboard-text-container" style="width:100%;">
		 <div id="new-round" class="dashboard-action">Start New Round</div>
	</div>
</div>

<div id="dash-controls" class="dashboard-notification-module" style="display:none;">
	<div class="palm-dashboard-controls-container">
		 <div id="next" x-mojo-touch-feedback="immediate" class="control-button">></div>
		 <div id="score" x-mojo-touch-feedback="immediate" class="control-score"></div>
		 <div id="prev" x-mojo-touch-feedback="immediate" class="control-button"><</div>
	</div>
	<div class="palm-dashboard-text-container">
		 <div id="player-name" class="dashboard-title"></div>
	</div>
</div>
