<div class="palm-row" x-Mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
			<div style="float: left;width:50%;">
				<div id="player1-scores"  style="text-align:center;padding-top:10px;margin-right:15px;">#{player1}</div>
			</div>
	
			<div style="float:right;width:50%;">
				<div id="player2-scores" style="text-align:center;padding-top:10px;margin-left:15px;">#{player2}</div>
			</div>

			<div class="label" style="z-index:-1;float:left;margin-top:15px;position:absolute;left:-6px;text-align:center;width:100%;">#{roundNo}</div>
	</div>
</div>
