<div id="main" class="wizard">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="title" style="padding-left:0px;text-align:center;font-effect:bold;">
				<span id="main-title">Frisbee Golf - Player</span>
			</div>
		</div>
	</div>

	<div id="scores">
		<div class="palm-list" id="normal-title">
			<div class='palm-row single'>
				<div class='palm-row-wrapper' style="min-height: 85px;">		
					<div style="float: left;width:50%;">
						<div id="player1-name" style="margin:8px;padding:5px;background:#afafa8;text-align:center;">
							Player1
						</div>
						<div id="player1-total" style="margin-right:5px;font-size:24px;text-align:center;font-weight:bold;">
							0
						</div>
					</div>

					<div style="float:right;width:50%;">
						<div id="player2-name" style="margin:8px;padding:5px;background:#afafa8;text-align:center;">
							Player2
						</div>
						<div id="player2-total" style="margin-left:5px;font-size:24px;text-align:center;font-weight:bold;">
							0
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="palm-list" id="result-title" style="display:none;">
			<div class='palm-row single'>
				<div class='palm-row-wrapper'>		
						<div id="round-title" style="margin:8px;padding:5px;background:#afafa8;text-align:center;font-weight:bold;">
							Result for Round 0
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="palm-group" id="result-scores" style="display:none;">
			<div class="palm-group-title">Scores</div>

			<div class="palm-list">
				<div id="ResultList" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group" id="round-scores">
			<div class="palm-group-title">Scores</div>

			<div class="palm-list">
				<div id="RoundsList" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group" id="all-scores" style="display:none;">
			<div class="palm-group-title">Scores</div>

			<div class="palm-list">
				<div id="ScoresList" x-mojo-element="List"></div>
			</div>
		</div>

		<div class="palm-group" id="input-score" style="display:none;">
			<div class="palm-group-title" id="scores-title">Score for </div>

			<div class="palm-list">
				<div class='palm-row first'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="Add3Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="Add4Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="Add5Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
				<div class='palm-row'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="Add6Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="Add7Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="Add8Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
				<div class='palm-row last'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="Add0Button" x-mojo-element="Button" style="width:50%;float:left;"></div>
						<div id="AddXButton" x-mojo-element="Button" style="width:50%;float:left;"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="palm-group" id="input-number" style="display:none;">
			<div class="palm-group-title" id="number-title">Score for </div>

			<div class="palm-list">
				<div class='palm-row first'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="No1Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="No2Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="No3Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
				<div class='palm-row'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="No4Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="No5Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="No6Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
				<div class='palm-row'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="No7Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="No8Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="No9Button" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
				<div class='palm-row last'>
					<div class='palm-row-wrapper' style="min-height: 63px;">		
						<div id="NoCButton" x-mojo-element="Button" style="width:33%;float:left;"></div>
						<div id="No0Button" x-mojo-element="Button" style="width:34%;float:left;"></div>
						<div id="NoDButton" x-mojo-element="Button" style="width:33%;float:left;"></div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>

</div>

