<div id="main" class="main">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="main-title">Score Tracker</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">Be a good looser or learn to win :)</div>
		</div>
	</div>

	<div id="games" style="display:block;">
		<div class="palm-group">
			<div class="palm-group-title">Tap a game to play and view history</div>
	
			<div class="palm-list">
				<div id="GamesList" x-mojo-element="List" ></div>
			</div>
		</div>
	</div>

	<div id="players" style="display:none;">
		<div class="palm-group">
			<div class="palm-group-title">Tap a player to view play history</div>
	
			<div class="palm-list">
				<div id="PlayersList" x-mojo-element="List" ></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Add new players</div>
	
			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="AddPlayers" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="teams" style="display:none;">
		<div class="palm-group">
			<div class="palm-group-title">Tap a team to view play history</div>
	
			<div class="palm-list">
				<div id="TeamsList" x-mojo-element="List" ></div>
			</div>
		</div>

		<div class="palm-group">
			<div class="palm-group-title">Add new teams</div>
	
			<div class="palm-list">
				<div class='palm-row single'>
					<div class='palm-row-wrapper'>
						<div class='textfield-group' x-mojo-focus-highlight="true">
							<div class="title">
								<div id="AddTeams" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

